body{
  font-family: "Poppins", sans-serif !important
}
.nav-item{
  color: #616161;
}
.hero{
  background-color: #F8F8F8;
  padding: 135px 0px;
}
.heroHead{
  color: #1E1E1E;
  font-weight: 600;
  width: 573px;
  font-size: 65px;
  line-height: 80px;
}
.heroPara{
  color: #616161;
  width: 597px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.heroContent{
  position: relative;
  top: 30px;
}
.heroImg{
  position: absolute;
  z-index: 1;
}
.btn{
  background-color: #007F5F;
  color: white;
  padding: 16px 35px;
}
 .hero-title {
            font-weight: 700;
        }
        .sub-title {
            color: #0d6efd;
            font-weight: 600;
        }
        .btn-custom {
            background-color: #0d6efd;
            border: none;
            padding: 10px 22px;
            color: #fff;
            border-radius: 5px;
        }
        .btn-custom:hover {
            background-color: #0b5cd6;
        }
        .play-text {
            display: flex;
            align-items: center;
            margin-left: 20px;
            font-weight: 600;
            cursor: pointer;
        }


     .slick-slide {
      padding: 10px;
    }
    .travel-card {
      border-radius: 15px;
      overflow: hidden;
      transition: 0.3s;
    }
    .travel-card:hover {
      transform: translateY(-5px);
      box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 20px 0px;
    }
    .travel-card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    .btn-button{

      gap: 30px;

    }